html{
	min-height: 100%;	
}

body{
	background-color: #252338; 
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.headshot{
	border-radius: 25%;
	width: 65%;
	height: 50%;
	margin: 15px;
}

.our-message-screen-visible {
	visibility: visible;
	height: 100%;
	width: 100%;
}

.our-message-screen-invisible {
	visibility: hidden;
	height: 0px;
	width: 0px;
}

.title-image{
	width: 15%;
	height: 15%;
	margin: 0px;
	padding: 0px;
}

.team-screen{
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-align: center;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
   
	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }

.team-screen-invisible {
	margin-left: auto;
	margin-right: auto;
	display: none;
	text-align: center;
}

.team-screen-visible {
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-align: center;
}

.documentation-invisible {
	margin-left: auto;
	margin-right: auto;
	display: none;
	text-align: center;
}

.documentation-visible {
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-align: center;
}

iframe{
	border-color: white;
	margin-top: 20px;
	margin-bottom: 30px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 4px 4px 14px #000;
	-webkit-box-shadow: 4px 4px 14px #000;
	box-shadow: 4px 4px 14px #000;
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
}

footer {
	color: white;
    /*  position: absolute; */
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}