html{
	min-height: 100%;	
}

body{
	/* background-image: linear-gradient(to bottom, #252338, black); */
	background-color: #252338;
}

title{
	font-size: 24px;
}

p{
	margin: 0 0 0 30px;
}

#title-image{
	width: 40%;
	height: 40%;
	margin: auto;
	padding: 0px;
	margin-bottom: 20px;
}

.headshot{
	margin: 15px;
	filter: drop-shadow(0 0 5px white);
}

.our-message-screen {
	color: white;
	text-align: center;
	visibility: visible;
	display: block;
}

.team-screen{
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-align: center;
}


.team-screen-visible {
	color: white;
	padding: 0 0 0 65px;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;

.hidden {
	display: none;
}

.container {
	padding: 80px;
}

.visible {
	display: block;
}

.team-screen-invisible {
	margin-left: auto;
	margin-right: auto;
	display: none;
	text-align: center;
}

.team-screen-visible {
	margin-left: auto;
	margin-right: auto;
	color: grey;
	text-align: center;
}

.documentation-screen {
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-align: center;
}

iframe{
	border-color: white;
	margin-top: 20px;
	margin-bottom: 30px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}

footer {
	color: white;
    /*  position: absolute; */
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.avatar{
	width: 400px;
	height: 400px;
	border-radius: 25px;
	background-repeat: no-repeat;
}
.avatar::before,
.avatar::after {
  --scale: 0;
  --arrow-size: 10px;
  --tooltip-color: #333;

  position: absolute;
  top: -.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
}

.avatar::before {
  --translate-y: calc(-100% - var(--arrow-size));

  content: attr(data-tooltip);
  color: white;
  padding: .5rem;
  border-radius: .3rem;
  text-align: center;
  width: max-content;
  max-width: 100%;
  background: var(--tooltip-color);
}

.avatar:hover::before,
.avatar:hover::after {
  --scale: 1;
}

.avatar::after {
  --translate-y: calc(-1 * var(--arrow-size));

  content: '';
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}