html{
	min-height: 100%;	
}

body{
	background-color: #252338; 
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

title{
	font-size: 24px;
}

p{
	margin: 0 0 0 30px;
}
.headshot{
	margin: 15px;
	filter: drop-shadow(0 0 5px white);
}

.our-message-screen-visible {
	visibility: visible;
	height: 100%;
	width: 100%;
}

.our-message-screen-invisible {
	visibility: hidden;
	height: 0px;
	width: 0px;
}

.title-image{
	width: 15%;
	height: 15%;
	margin: 0px;
	padding: 0px;
}

.team-screen{
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-align: center;
}

.team-screen-invisible {
	margin-left: auto;
	margin-right: auto;
	display: none;
	text-align: center;
}

.team-screen-visible {
	color: white;
	padding: 0 0 0 65px;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
}

.documentation-invisible {
	margin-left: auto;
	margin-right: auto;
	display: none;
	text-align: center;
}

.documentation-visible {
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-align: center;
}

iframe{
	border-color: white;
	margin-top: 20px;
	margin-bottom: 30px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 4px 4px 14px #000;
	-webkit-box-shadow: 4px 4px 14px #000;
	box-shadow: 4px 4px 14px #000;
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
}

footer {
	color: white;
    /*  position: absolute; */
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.avatar{
	width: 400px;
	height: 400px;
	border-radius: 25px;
	background-repeat: no-repeat;
}
.avatar::before,
.avatar::after {
  --scale: 0;
  --arrow-size: 10px;
  --tooltip-color: #333;

  position: absolute;
  top: -.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
}

.avatar::before {
  --translate-y: calc(-100% - var(--arrow-size));

  content: attr(data-tooltip);
  color: white;
  padding: .5rem;
  border-radius: .3rem;
  text-align: center;
  width: max-content;
  max-width: 100%;
  background: var(--tooltip-color);
}

.avatar:hover::before,
.avatar:hover::after {
  --scale: 1;
}

.avatar::after {
  --translate-y: calc(-1 * var(--arrow-size));

  content: '';
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}

#download-btn {
    background-color: green;
    color: #c0c0c0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
